<!-- The Modal -->
<form>
	<div class="modal-header" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		<div>

			<h4 class="modal-title">Thông tin phòng [[${id}]]</h4>
			<p>
				Lúc nhận phòng:<b style="margin-left: 10px;">10:29 </b>
			</p>
			<p>
				Ngày nhận phòng:<b style="margin-left: 10px;">26/7/2023</b>
			</p>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<div>
			<div class="row">
				<div class="col ">
					<div class="form-group">
						<label for="name"> Tên Khách nhận phòng: </label> <input
							name="name" value="Nông Văn Đạt" class="form-group-item" />
					</div>
					<div class="form-group">
						<label for="phone"> Số điện thoại: </label> <input name="phone"
							value="0793705739" class="form-group-item" />

					</div>
					<div class="form-group">
						<label for="CCCD"> CCCD/CMND: </label> <input value="241849873"
							name="CCCD" class="form-group-item" />
					</div>


				</div>
				<div class="col">
					<div class="form-service">
						<div class="form-group-serviced">
							<p>Dịch vụ đã chọn:</p>
							<ul class="list-serviced">
								<li class="list-serviced-item">1. Giặt ủi đồ</li>
							</ul>
						</div>
						<div>
								<p>Chọn thêm dịch vụ</p>
								<input name="checkbox-service" type="checkbox"> <label
									for="checkbox-service">Xe đưa đón sân bay</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal footer -->
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
		<button th:formaction="@{|/update/detail-room-serivce/${id}|}"  class="btn btn-success">Lưu lại</button>
	</div>
</form>

