<!-- The Modal -->
<form>
	<div class="modal-header" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		<div>
			<h4 class="modal-title">Thông tin phòng [[*{idRoom}]]</h4>
			<p>
				Ngày nhận phòng:<b style="margin-left: 10px;">[[*{timeCheckInDate}]]</b>
			</p>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="name"> Tên khách hàng: </label> <input name="name"
							th:value="${room.nameCustomer}" class="form-group-item" />
					</div>
					<div class="form-group">
						<label for="phone"> Số điện thoại: </label> <input name="phone"
							th:value="${room.phoneCustomer}" class="form-group-item" />

					</div>
					<div class="form-group">
						<label for="CCCD"> CCCD/CMND: </label> <input
							th:value="${room.cccd}" name="CCCD" class="form-group-item" />
					</div>
					<div class="form-group">
						<label for="numberPeople"> Số người: </label> <input
							th:value="${room.numberPeople}" name="numberPeople"
							class="form-group-item" />
					</div>
				</div>
				<div class="col">
					<div class="form-service">
						<div class="form-group-serviced">
							<p>Dịch vụ bạn đang sử dụng:</p>
							<ul class="list-serviced" th:if="${room.service}"
								th:each="service:${room.service}" th:object="${room}">
								<li class="list-serviced-item" th:text="${service}"></li>
							</ul>
							<ul class="list-serviced" th:unless="${room.service}">
								<li class="list-serviced-item">Không có dịch vụ</li>
							</ul>
						</div>
						<div th:if="${room.service}">
							<input name="checkbox-service" type="checkbox"> <label
								for="checkbox-service">Xe đưa đón sân bay</label>
						</div>
					</div>
					<div class="form-bill">
						<div class="form-bill-body">
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal footer -->
	<div class="modal-footer">
		<button th:formaction="@{|/update/detail-room-serivce/${id}|}"
			class="btn btn-success">Thanh toán</button>
		<button th:formaction="@{|/update/detail-room-serivce/${id}|}"
			class="btn btn-success">Lưu lại</button>
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>

	</div>
</form>

