<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">

<title>Document</title>
<link rel="stylesheet" href="/css/admin/index.css">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.0.js"
	integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
	crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/order.css" type="text/css">
</head>
<body>
	<div id="header" th:replace="@{admin/menu}"></div>
	<div class="container" style="min-height: 460px">
		<div class="message" th:if="${session.message}">
			<h1>Thông báo</h1>
			<p th:text="${session.message}"></p>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="row">
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 101</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 102</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 103</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 104</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 105</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 106</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 107</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 108</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 109</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 201</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 202</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 203</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 204</h3>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a class="detail-room" th:href="@{/admin/orders/detail-room/1}">
					<div class="detail-room-item">
						<h3>Phòng 205</h3>
					</div>
				</a>
			</div>

		</div>
	</div>
	<div id="footer" th:replace="@{user/footer}"></div>
	<!-- The Modal -->
	<div class="modal " id="myModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
$(document).ready( function(){
	$(".detail-room").on('click',function(e){
		e.preventDefault();
		$('#myModal').modal('show').find('.modal-content').load($(this).attr('href'))
		})

	$('#btn').on('click',function(){
		$('#myModal').modal("show")
		})
	
		
})
</script>

<script type="text/javascript">
	const messageTimeOut = setTimeout(closeMessage, 3000)
	
	function closeMessage(){
			$(".message").fadeOut();
		}
</script>
</html>