<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/admin/service-room.css">
</head>
<body>
	<div id="header" th:replace="@{admin/menu}"></div>
	<div class="container">
		<div class="heading">Thông Tin Dịch Vụ</div>
		<form th:object="${service}">
			<div class="mb-3">
				<label for="fullname">Tên Dịch Vụ:</label> <input type="text" th:field="*{name}"
					id="fullname" placeholder>
			</div>
			<div class="mb-3">
				<label for="price">Giá Dịch Vụ:</label> <input type="text" th:field="*{price}"
					id="price" placeholder>
			</div>
			<button th:formaction="@{/admin/service-room/create-service}" class="btn btn-success">Thêm</button>
			<button th:formaction="@{|/admin/service-room/update-service/${key}|}" class="btn btn-primary">Sửa</button>
			
		</form>
		<table class="table">
			<thead>
				<tr>
					<th style="width: 25%;" scope="col">Mã Dịch Vụ</th>
					<th style="width: 30%;" scope="col">Tên Dịch Vụ</th>
					<th style="width: 25%;" scope="col">Giá Loại Phòng</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="service : ${services}" th:object="${service.value}">
					<td th:text="${service.key}"></td>
					<td >[[*{name}]]</td>
					<td >[[*{price}]]đ</td>
					<td>
					<a th:href="@{|/admin/service-room/edit-service/${service.key}|}" class="btn btn-success">Sửa</a>
					
					<a th:href="@{|/admin/service-room/delete-service/${service.key}|}"
						class="btn btn-danger">Xóa</a></td>
				</tr>

			</tbody>
		</table>
	</div>
	<div id="footer" th:replace="@{user/footer}"></div>
</body>
</html>