<!-- The Modal -->
<form th:object="${order}">
	<div class="modal-header" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<div class="row">
			<h4 class="modal-title">Thông tin phòng [[${roomOrder.name}]]</h4>
			<div class="col">
				<div>
					<p>
						Ngày nhận phòng : <b style="margin-left: 10px;">[[${time}]]</b>
					</p>
					<p>
						Loại phòng : <b style="margin-left: 10px;">[[${typeRoom.name}]]</b>
					</p>
					<p>
						Giá phòng : <b style="margin-left: 10px;">[[${priceRoom}]] VND
							/ ngày</b>

					</p>
					<p>*nếu thời gian ở dưới 1 giờ tiền phòng còn 100.000 VND</p>

				</div>
			</div>
			<div class="col">
				<div>
					<p>
						Tổng thời gian ở : <b style="margin-left: 10px;">[[${totalTime}]]</b>
					</p>
					<p>
						Ngày trả phòng dự kiến (đặt trước) : <b style="margin-left: 10px;"></b>
					</p>
					<label>Khuyễn mãi: </label> <select>
						<option>-----Khuyễn mãi-----</option>
						<option th:each="item : ${promotionMap}" th:oject="${item.value}">Khuyễn
							mãi [[*{value}]] % [[*{name}]]</option>

					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<h4>Thông tin khác hàng</h4>
			<div class="col">
				<div class="form-group" hidden="true">
					<label for="name">Tên khách hàng: </label> <input
						th:value="${keyOrder}" id="keyOrder" class="form-group-item" />
				</div>
				<div class="form-group">
					<label for="name">Tên khách hàng: </label> <input readonly
						th:field="${customer.name}" class="form-group-item" />
				</div>
				<div class="form-group">
					<label for="phone">Số điện thoại: </label> <input readonly
						th:field="${customer.phone}" class="form-group-item" />
				</div>
				<div class="form-group">
					<label for="CCCD"> CCCD/CMND: </label> <input readonly
						th:field="${customer.CCCD}" class="form-group-item" />
				</div>
				<div class="form-group">
					<label for="numberPeople"> Số người: </label> <input readonly
						th:field="*{numberPeople}" class="form-group-item" />
				</div>
			</div>
			<div class="col">
				<div class="form-service">
					<div class="form-group-serviced">
						<p>Dịch vụ bạn sử dụng :</p>
						<div class="container mt-3">
							<table class="table">
								<thead>
									<tr>
										<th>Tên dịch vụ</th>
										<th>Giá</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr class="sv"></tr>
									<tr class="sv" th:each="so : ${serviceOrder}"
										th:object="${so.value}" th:value="${so.key}">
										<td th:text="*{name}"></td>
										<td th:text="*{price}"></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="info-bill">
					<p>Tổng tiền phòng :[[${totalMoneyRoom}]] VND</p>
					<p>Tổng dịch vụ : [[${totalPriceService}]] VND</p>
					<p>Tiền khuyến mãi :</p>
					<p>Tổng thành tiền : [[${totalMoney}]] VND</p>
				</div>
				<div th:if="${paySuccess}">
					<p th:text="${paySuccess}"></p>
				</div>
				
			</div>
		</div>
		<!-- Modal footer -->
		
		<div class="modal-footer" th:unless="${paySuccess}">
			<a id="btn-pay" th:if="paySuccess" 
				th:href="@{|/admin/orders/pay/${keyOrder}?idRoom=${idRoom}|}"
				class="btn btn-success">Thanh toán</a>

			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
		</div>
		<div class="modal-footer" th:if="${paySuccess}">
			<a class="btn btn-success" th:href="@{|admin/order/print-bill/${keyOrder}|}">In hoá đơn </a>
			<button id="btn-pay"  disabled="true"
				class="btn btn-success">Thanh toán</button>

			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
		</div>
	</div>
</form>

<script type="text/javascript">
$(document).ready(
		$('#addService').on("click",function(){
			console.log("click")
			var service = [];
			$("input:checkbox[name='cx']:checked").each(function(){    
				service.push($(this).val());
				var tr = "<tr class='sv'>"+$("input:checkbox[name='cx']:checked").parents().eq(1).html()+"</tr>"
				
				var htmls = "<tr class='sv'>"+tr+"</tr>";
				
				 $('.sv:last-child').after(htmls)
				
				$("input:checkbox[name='cx']:checked").parents().eq(1).remove();
				 $('.sv:last-child').find('.checkbox').remove();
			});
			console.log('value ',$('.sv').val())
			var key = $('#keyOrder').val()
			console.log("key ",key)
			$.post( "/admin/orders/addService/"+key,
				{
				service : service.join(",")
				
				},
				); 
			})
						
		)
</script>
<script type="text/javascript">
$(document).ready(function() {
	$("#btn-pay").on(
			'click',
			function(e) {
				e.preventDefault();
				$('.modal-content').load($(this).attr('href'))
			})
}

)
</script>

