<!-- The Modal -->
<form th:object="${orderRoom}">
	<div class="modal-header" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<div class="row">
			<div>
				<h4 class="modal-title">Đặt phòng</h4>

			</div>
		</div>
		<div>
			<div class="row">

				<h4>Thông tin phòng</h4>
				<div class="col">
					<div class="form-group">
						<p>Loại phòng :</p>
						<!-- Nav pills -->
						<ul class="nav nav-pills"
							style="height: 60px; align-items: center; border: 1px solid #3333; padding-left: 10px">
							<li style="margin-right: 20px;" th:each="typeRoom : ${typeRooms}"
								th:object="${typeRoom.value}" class="nav-item"><a
								th:class="nav-link"
								th:classappend="${keyTR.equals(typeRoom.key)} ? active : ''"
								data-bs-toggle="pill"
								th:href="@{|/admin/orders/form-order-room/${typeRoom.key}|}">[[${typeRoom.value.name}]]</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane container active"
								style="margin: 0; padding: 0">
								<div class="form-group">
									<label  for="name">Danh sách phòng còn
										trống </label> <select name="keyRoom" class="form-group-item">
										<option>------Chọn Phòng------</option>
										<option th:each="emptyRoom : ${emptyRooms}"
											th:oject="${emptyRoom.value}" th:value="${emptyRoom.key}">[[${emptyRoom.value.name}]]</option>
									</select>
								</div>
							</div>

						</div>
					</div>

					<div class="form-group">
						<p>
							Loại phòng: <b>[[${nameRoom}]]</b>
						</p>
						<p>
							Giá phòng: <b>[[${priceRoom}]]</b>
						</p>
						
					</div>

				</div>
				<div class="col">

					<div class="form-group">
						<label for="CCCD">Ngày nhận phòng</label> <input name="CheckIn"
							type="date" class="form-group-item" />
					</div>
					<div class="form-group">
						<label for="numberPeople">Ngày trả phòng</label> <input name="CheckOut"
							type="date" class="form-group-item" />
					</div>
				</div>
			</div>
			<div class="row" >
				<h4>Thông tin khác hàng</h4>
				<div class="col-6">
					<div class="form-group">
						<label for="name">Tên khách hàng: </label> <input
							th:field="*{nameCustomer}" class="form-group-item" />
					</div>
					<div class="form-group">
						<label for="phone">Số điện thoại: </label> <input
							th:field="*{phoneCustomer}" class="form-group-item" />
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="numberPeople"> Số người: </label> <input th:field="*{numberPeople}"
							class="form-group-item" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal footer -->
	<div class="modal-footer">
		<button th:formaction="@{/admin/orders/create-order-room}"
			class="btn btn-success">Đặt phòng</button>
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
	</div>
</form>

<script>
	$(".nav-link").on("click", function(e){
			e.preventDefault();
			$('.modal-content').load($(this).attr('href'))
				})
		
</script>