
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">

<title>Document</title>
<link rel="stylesheet" href="/css/admin/index.css">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



<script src="https://code.jquery.com/jquery-3.7.0.js"
	integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/order.css" type="text/css">
</head>
<body>
	<div id="header" th:replace="~{admin/menu}"></div>

	<div class="container body-content" style="min-height: 460px">
		<div class="body-content-title">
			<h1>Phòng đã đặt</h1>

		</div>
		<div class="form-group" th:each="r : *{room}" th:object="${r.value}">
			<p>
				Tên phòng: <b>[[*{name}]]</b>
			</p>
		</div>
		<!-- The Modal -->
		<form th:object="${orderRoom}">

			<!-- Modal body -->
			<div class="modal-body">

				<div>
					<div class="row">

						<h4>Thông tin phòng</h4>
						<div class="col">
							<div class="form-group">
								<p>Loại phòng :</p>

								<ul class="nav nav-pills"
									style="height: 60px; align-items: center; border: 1px solid #3333; padding-left: 10px">
									<li style="margin-right: 20px;"
										th:each="typeRoom : ${typeRooms}"
										th:object="${typeRoom.value}" class="nav-item"><a
										th:class="nav-link"
										th:classappend="${keyTR.equals(typeRoom.key)} ? active : ''"
										data-bs-toggle="pill"
										th:href="@{|/admin/orders/form-edit-order-room/${keyRoom}?keyTypeRoom=${typeRoom.key}|}">[[${typeRoom.value.name}]]</a></li>
								</ul>


								<div class="tab-content">
									<div class="tab-pane container active"
										style="margin: 0; padding: 0">
										<div class="form-group">
											<label for="name">Danh sách phòng còn trống </label> <select
												name="keyRoom" class="form-group-item">
												<option th:value="none">------Chọn Phòng------</option>
												<option th:each="emptyRoom : ${emptyRooms}"
													th:oject="${emptyRoom.value}" th:value="${emptyRoom.key}">[[${emptyRoom.value.name}]]</option>
											</select>
										</div>
									</div>

								</div>
							</div>

							<div class="form-group">
								<p>
									Loại phòng: <b>[[${nameRoom}]]</b>
								</p>
								<p>
									Giá phòng: <b>[[${priceRoom}]]</b>
								</p>
								<p>
									Ngày đặt: <b>[[${dateAt}]]</b>
								</p>

							</div>


						</div>
						<div class="col">

							<div class="form-group">
								<label for="CCCD">Ngày nhận phòng</label> <input
									th:value="${dateCheckIn}" name="CheckIn" type="date"
									class="form-group-item" />
							</div>
							<div class="form-group">
								<label for="numberPeople">Ngày trả phòng</label> <input
									th:value="${dateCheckOut}" name="CheckOut" type="date"
									class="form-group-item" />
							</div>
						</div>
					</div>
					<div class="row">
						<h4>Thông tin khác hàng</h4>
						<div class="col-6">
							<div class="form-group">
								<label for="name">Tên khách hàng: </label> <input
									th:field="*{nameCustomer}" class="form-group-item" />
							</div>
							<div class="form-group">
								<label for="phone">Tên khách hàng: </label> <input
									th:field="*{phoneCustomer}" class="form-group-item" />
							</div>
							<div class="form-group">
								<label for="CCCD">CCCD: </label> <input
									th:field="*{CCCDCustomer}" class="form-group-item" />
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button
					th:formaction="@{|/admin/orders/open-order-room/${keyOrderRoom}|}"
					class="btn btn-success">Mở phòng</button>
				<button
					th:formaction="@{|/admin/orders/update-order-room/${keyOrderRoom}|}"
					class="btn btn-primary">Lưu lại</button>
				<button
					th:formaction="@{|/admin/orders/cancel-order-room/${keyOrderRoom}|}"
					class="btn btn-warning">Huỷ Đặt</button>
				<a th:href="@{/admin/orders}" class="btn btn-danger">Trở về</a>
			</div>
		</form>
		</form>
	</div>
	<div id="footer" th:replace="~{user/footer}"></div>
</body>
</html>