<!-- The Modal -->
<div class="modal-content">
	<div class="modal-header" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		<div >
			<h4 class="modal-title">Bạn muốn mở phòng : [[*{idRoom}]]</h4>

		</div>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<div class="row">
			<div class="col reserved-body">
				<a th:href="@{|/admin/orders/detail-room/1?status=1|}"
					class="btn btn-success create">Mở phòng</a> <a
					th:href="@{|/update/detail-room-serivce/${id}|}"
					data-bs-dismiss="modal" class="btn btn-danger">Huỷ Đặt</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(
			function() {
				$(".create").on(
						'click',
						function(e) {
							e.preventDefault();
							$('.modal-content')
									.load($(this).attr('href'))
						})
			})
			
			
</script>