<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/forgot-password.css">
</head>
<body>
	<div id="header" th:replace="@{user/menu}"></div>
	<div id="sign-up">
		<div class="sign-up">
			<div class="heading">QUÊN MẬT KHẨU</div>
			<b th:text="${message}" style="color: red;"></b>
			<form>
				<div class="mb-3 mt-4">
					<input type="email" name="email" class="form-control" id="email">
					<label for="email" class="form-label">Email</label> <input
						type="radio" class="btn-getcode" id="getcode" name="getcode">
					<button class="form-control button" th:formaction="@{|/account/retrieve-password|}" type="submit" name="check-email">GETCODE</button>
				</div>
			</form>
			<form >
				<div class="mb-3 mt-4">
					<input name="verifyCode" type="text" class="form-control" id="code">
					<label for="code" class="form-label">Mã CODE</label>
				</div>
				<button th:formaction="@{|/account/code-retrieve-password|}" type="submit" class="btn btn-primary">Tiếp Theo</button>
			</form>

		</div>
	</div>
	<div id="footer" th:replace="@{user/footer}"></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>