<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="/css/sign-in.css" rel="stylesheet" />
    </head>
    <body>
        <div id="header" th:replace="@{user/menu}"></div>
        <div id="sign-up">
            <form action="" class="login-oauth2">
                <div class="mb-3">
                    <a href="/oauth2/authorization/google" class="btn btn-primary"><i class="bi bi-google"></i>Đăng Nhập Với
                        Google</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/google" class="btn btn-primary"><i class="bi bi-facebook"></i>Đăng Nhập Với
                        Facebook</a>
                </div>
            </form>
        </div>
        <div id="footer" th:replace="@{user/footer}"></div>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        const inputs = document.querySelectorAll('.form-control');
        const labels = document.querySelectorAll('.form-label');

        inputs.forEach(function(input, index) {
        input.addEventListener('blur', function() {
            if (input.value.trim() !== '') {
            labels[index].textContent = input.getAttribute('data-label');
            }
        });
        });



    </script>
    </body>
</html>